.admin-login-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(34, 139, 34, 0.15);
  font-family: 'Segoe UI', sans-serif;
}

.admin-login-title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 24px;
  color: #333;
}

.admin-login-form {
  display: flex;
  flex-direction: column;
}

.admin-login-input {
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #280769;
  border-radius: 5px;
  font-size: 15px;
  background-color: #ffffff;
  transition: border 0.3s ease;
}

.admin-login-input:focus {
  border-color: rgb(5, 49, 5);
  outline: none;
}

.admin-login-button {
  padding: 12px;
  background-color: #280769;
  color: #ffffff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}



.admin-login-error {
  color: #d32f2f;
  text-align: center;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 15px;
}
